<div class="white-wrapper">
  <div class="container">
    <%= render "shared/smallbanner" %>
    <h1>Restaurants#index </h1>

    <%= render "shared/card" %>
    <%= render "shared/maps" %>

  </div>
</div>
<%= render "shared/footer" %>
