<div class="white-wrapper">
    <%= render "shared/smallbanner" %>
  <div class="container">
    <h1>Restaurants</h1>
    <%= render "shared/card" %>
    <%= render "shared/maps" %>
  </div>
</div>
<%= render "shared/footer" %>
