.reservation-action{
display: flex;
}

.reservationcard {
  position: relative;

  margin: 20px;
  color: white;
  background-color: #5499C7;
  display: block !important;
  padding: 10px;
}

.btn-treehouse{
  position: absolute;
  margin: 5px;
}
