.smallbanner {
  padding: 50px;
  color: white;
  text-align: center;
  height: 200px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  align-items: center;
  justify-content: center;
}

.banner-search {
  display: flex;
  justify-content: center;
  }
